<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Network</title>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>

    <script src="/bower_components/satellizer/satellizer.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">

    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./simple-sidebar.css">

    <script src="/js/module.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>


</head>
<body ng-app="socialNetworkApp" ng-controller="mainController">

<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a style="color : #303F9F" class="navbar-brand" ui-sref="home">WindUpDurb Social Network</a>
        </div>


        <!--Login Field if !activeuser-->
        <div class="navbar-form navbar-right" ng-hide="isAuthenticated()">
            <form id="login"  ng-submit="submitLogin(credentials)">
                <fieldset>

                    <div class="form-group">
                        <div class="col-md-10">
                            <input ng-model="credentials.email" type="email" class="form-control" id="inputEmail" placeholder="Email">

                        </div>

                        <div class="col-md-10">
                            <input ng-model="credentials.password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>

                        <div class="col-md-10">
                            <button type="submit" class="btn btn-primary" style="color: #303F9F">Login</button>
                            <button ui-sref="registration" type="button" class="btn btn-primary" style="color: #303F9F">Register</button>

                        </div>


                    </div>
                </fieldset>
            </form>
        </div>

        <!--Logout field if activeUser-->

        <div class="navbar-form navbar-right" ng-show="isAuthenticated()">
            <div class="col-md-10">
                Hello, {{activeUser.username}}
            </div>
            <div class="col-md-10">
                <button type="button" ng-click="submitLogout()" class="btn btn-primary" style="color: #303F9F">Logout</button>
            </div>
        </div>

    </div>
</div>

<br>
<!--End of the Header/Navbar-->

<div ng-if="!isAuthenticated()" ui-view="login-register"></div>

<div id="wrapper" ng-show="isAuthenticated()">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    {{activeUser.username}}'s Profile
                </li>
                <li class="sidebar-brand">
                    <a ui-sref="editProfile">Edit Profile</a>
                </li>

        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <!--Navbar-->
                    <div class="container">
                        <ui-view>
                        </ui-view>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -- Keep Above -->

</div>
<!-- /#wrapper -->




</body>
</html>