<div class="text-center jumbotron">
    <h1>Register a New Account</h1>
    <br>


    <form id="login"  ng-submit="submitRegistration(newAccount)">
        <fieldset>

            <div class="form-group">
                <div class="col-md-10">
                    <input ng-model="newAccount.email" type="email" class="form-control" id="inputEmail" placeholder="Enter Your Email Address" required>

                </div>

                <div class="col-md-10">
                    <input ng-model="newAccount.password" type="password" class="form-control" placeholder="Enter a Password" required>
                </div>

                <div class="col-md-10">
                    <input ng-model="newAccount.passwordConfirm" type="password" class="form-control" placeholder="Confirm Your Password" required>
                </div>

                <div class="col-md-10">
                    <button type="submit" class="btn btn-primary" style="color: #303F9F">Register</button>

                </div>

            </div>
        </fieldset>
    </form>


</div>